---
layout: default
---

<section class="hero is-small">
  <div class="hero-body">
    <p class="title has-text-white"><%= site.metadata.title %></p>
    <p class="subtitle has-text-white"><%= site.metadata.tagline %></p>
  </div>
</section>

<section class="section columns">
    <div class="column is-three-fifths">
      <article class="box">
        <h1 class="title is-4"><%= data.title %></h1>
        <img src="<%= data.image %>">
        <div class="content">
          <%= yield %>
        </div>
      </article>
    </div>

    <div class="column is-two-fifths">
      <% site.data.highlights.each do |highlight| %>
        <%= render "highlight", highlight: highlight %>
      <% end %>
    </div>
</section>

<section class="section columns">
  <% site.data.members.each do |member| %>
    <div class="column">
      <%= render "member_profile", member: member %>
    </div>
  <% end %>
</section>
