---
layout: default
---

<section class="hero is-small">
  <div class="hero-body">
    <p class="title has-text-white"><%= site.metadata.title %></p>
    <p class="subtitle has-text-white"><%= site.metadata.tagline %></p>
  </div>
</section>

<section class="section columns">
    <div class="column is-two-thirds">
      <article class="box">
        <h1 class="title is-4"><%= data.title %></h1>
        <img src="<%= data.image %>">
        <div class="content">
          <%= yield %>
        </div>
      </article>
    </div>

    <div class="column">

      <article class="message">
        <div class="message-header ruby-red">
          <p>Ruby on Rails Consulting</p>
        </div>
        <div class="message-body">
          <img src="images/ruby-on-rails-logo.png" class="rails-logo">
          <p class="content">Leverage the power of Ruby and Rails to build scalable applications quickly. Looking
            for an architect to help build out a new solution, or conversely, someone to help rescue a code base
            that has gone astray?</p>
          <p class="content">We've got you covered.</p>

        </div>
      </article>

    </div>
</section>

<section class="section columns">
  <% site.data.members.each do |member| %>
    <div class="column">
      <%= render "member_profile", member: member %>
    </div>
  <% end %>
</section>


