---
layout: default
---

<section class="hero is-small">
  <div class="hero-body">
    <p class="title has-text-white"><%= data.title %></p>
    <p class="subtitle has-text-white"><%= data.subtitle %></p>
  </div>
</section>

<section class="section">
  <article class="box">
    <section class="content">
      <%= yield %>
    </section>

    <% if data.mastodon_id.present? %>

      <hr>

      <section >
        <h1 class="title">Comments</h1>

        <div class="ml-5" data-controller="comments" data-comments-post-id-value="<%= data.mastodon_id %>">
        </div>

        <div class="notification is-primary is-light">
          <a href="<%= "https://ruby.social/#{data.mastodon_account}/#{data.mastodon_id}" %>" target="_blank" class="is-flex is-justify-content-center">
            <p class="my-0 mr-3">Continue the conversation on ruby.social</p>
            <img src="/images/mastodon-logo-purple.svg" class="icon" alt="Mastodon Logo">
          </a>
        </div>

      </section>
    <% end %>

  </article>
</section>

