<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) %>
<title><% if resource_title != "Index" %><%= resource_title %> | <%= metadata.title %><% else %><%= metadata.title %>: <%= metadata.tagline %><% end %></title>

<meta name="description" content="<%= metadata.description %>" />
<meta property="og:url" content="https://rockridgesolutions.com">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Rockridge Solutions">
<meta property="og:title" content="<%= [resource_title, data.subtitle.presence].compact.join(': ') %>">
<meta property="og:description" content="<%= resource.data.og_description %>">
<meta property="og:image" content="<%= resource.data.og_image || metadata.og_image %>">
<link rel="stylesheet" href="<%= asset_path :css %>" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<script src="<%= asset_path :js %>" defer></script>
<%= live_reload_dev_js %>
