<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) %>
<title><% if resource_title != "Index" %><%= resource_title %> | <%= metadata.title %><% else %><%= metadata.title %>: <%= metadata.tagline %><% end %></title>

<meta name="description" content="<%= metadata.description %>" />
<meta property="og:url" content="https://rockridgesolutions.com">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Rockridge Solutions">
<meta property="og:title" content="<%= resource_title %>">
<meta property="og:description" content="<%= resource.data.og_description %>">
<meta property="og:image" content="<%= resource.data.og_image %>">
<link rel="stylesheet" href="<%= asset_path :css %>" />
<script src="<%= asset_path :js %>" defer></script>
<%= live_reload_dev_js %>
