<div class="card">
  <div class="card-content pb-1">
    <div class="columns">
      <div class="column">
        <picture>
          <source type="image/webp" srcset="images/<%= member.picture_webp %>">
          <source type="image/jpeg" srcset="images/<%= member.picture %>">
          <img src="images/<%= member.picture %>" alt="<%= member.name %>">
        </picture>
      </div>
      <div class="column is-two-thirds">
        <p class="title mb-2"><%= member.name %></p>
        <div class="content">
          <%= markdownify member.bio %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <a href="<%= member.linked_in %>" class="card-footer-item">
      <img src="images/LI-In-Bug.png" class="linked-in-logo" alt="LinkedIn Logo">
    </a>
    <a href="<%= member.github %>" class="card-footer-item">
      <img src="images/github-mark.png" class="github icon" alt="GitHub Logo">
    </a>
    <a href="mailto:<%= member.email %>" class="card-footer-item">
      <img src="images/mail.png" class="icon" alt="Email icon">
    </a>
  </div>
</div>
